body{
  text-align: center;
  background-color: antiquewhite;
}
input{
  color: rgb(44, 43, 43);
  border: 2px solid;
  border-radius: 5px;
  outline-style: none;
  height:30px;
  width:450px;
  font-size:20px;
}
input:valid:focus{
  border: 2px solid #38dd38;
}
input:invalid:focus{
  border: 2px solid rgb(243, 54, 54);
}
p{
  font-weight: lighter;
  width:100%;
  text-align:center;
}
::-webkit-input-placeholder{
  line-height: 30px;
  font-size:20px;
  position:relative;
  left:10px;
}
input[type=submit],input[type=reset] {
  width: 5em;  height: 2em;
}

